<!DOCTYPE html>
<html>
<head>
	<title>COMICwithUS--管理者</title>
</head>
<body>
<li>
  <%= link_to 'マンガ一覧--管理者', admin_comics_path %>
</li>

<li>
  <%= link_to 'マンガ追加--管理者', new_admin_comic_path %>
</li>

</body>
</html>