<!DOCTYPE html>
<html>
<head>
	<title>COMICwithUS</title>
</head>
<body>
         <li>
         <%= link_to 'マンガ一覧', comics_path %>
         </li>

         <li>
         <%= link_to 'マンガ追加', new_comic_path %>
         </li>

</body>
</html>